.App {
  text-align: center;
}

.App-logo {
  max-height: 80px;
}

.App-header {
  background-color: #242525;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  background-color: #E3ECE7;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
